# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space
file_header_template = Copyright iyashi39 @ https://github.com/iyashi39 \nLicensed under the GNU General Public License v3.0,\ngo to https://github.com/iyashi39/Miru/blob/master/LICENSE for full license details.

# Xml files
[*.xml]
indent_size = 2
